@model List<ResultServiceDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>

        <th>Hizmet Başlığı</th>
        <th>Sil</th>
        <th>Güncelle</th>
  
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td><a href="/Service/DeleteService/@item.Id" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="/Service/UpdateService/@item.Id" class="btn btn-success">Güncelle</a></td>
      
        </tr>

    }

</table>
<a href="/Service/AddService/" class="btn btn-primary"> Yeni Hizmet Gir</a>

